<%= f.text_field :owner %>
<%= f.text_field :link %>
<%= f.datetime_select :start_at %>
<%= f.datetime_select :end_at %>
<%= f.file_field :image_file %>
<%= f.error_message_on :image %>

<div class="actions">
  <%= f.submit %>
  <%= link_to 'Cancel', meetings_path %>
</div>
